html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  display: flex;
  flex-direction: row;
}

.panel-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-box {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.tool-box label {
  font-size: 0;
  border: 1px solid black;
  margin: 2px;
}

.tool-box input {
  display: none;
}

.tool-box img {
  padding: 0px;
  padding: 1px;
}

.tool-box input:checked + img {
  outline: 2px ridge gold;
}

#map-container {
  position: relative;
  background-color: black;
}

#map-container > canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#mini-map-container {
  font-size: 0;
  background-color: black;
}
