html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-container {
  position: relative;
  background-color: black;
}
#map-container > canvas {
  position: absolute;
  top: 0;
  left: 0;
}
