@import "./flex.css";
@import "./toolbox.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: silver;
  justify-content: center;
  align-items: center;
}

.panel-left {
  align-items: center;
}

#map-container {
  position: relative;
  background-color: black;
}

#map-container > canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#mini-map-container {
  font-size: 0;
  background-color: black;
}

.status-bar {
  font-family: "Courier New", Courier, monospace;
  border: 3px ridge gray;
}
